

:root {
  --font-base: 'lexend', sans-serif;
  --font-secondary-base: 'inter', sans-serif;
  --bg-color : #111;
  --primary-color: #e50914;
  --secondary-color: #141414;
}
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
body {
  background: #111;
}